.nivo-lightbox-overlay
    position fixed
    top 0
    left 0
    z-index 99998
    width 100%
    height 100%
    overflow hidden
    visibility hidden
    opacity 0
    background-color rgba(49,51,56,.9)
    box-sizing border-box
    &.nivo-lightbox-open
        visibility visible
        opacity 1

.nivo-lightbox-wrap
    position absolute
    top 5%
    bottom 10%
    left 5%
    right 5%

.nivo-lightbox-content
    width 100%
    height 100%
    padding-bottom 56.25%
    iframe
        position absolute
        width 100%
        height 100%

.nivo-lightbox-title-wrap
    position absolute
    bottom 0
    left 0
    width 100%
    z-index 99999
    text-align center

.nivo-lightbox-nav
    display none

.nivo-lightbox-prev
    position absolute
    top 50%
    left 0

.nivo-lightbox-next
    position absolute
    top 50%
    right 0

.nivo-lightbox-opacity
    position absolute
    top 2%
    right 2%

.nivo-lightbox-image
    text-align center
    img
        max-width 100%
        max-height 100%
        width auto
        height auto
        vertical-align middle

.nivo-lightbox-inline,
.nivo-lightbox-ajax
    max-height 100%
    overflow auto
    box-sizing border-box

.nivo-lightbox-error
    display table
    text-align center
    width 100%
    height 100%
    color #fff
    text-shadow 0 1px 1px #000
    p
        display table-cell
        vertical-align middle

.nivo-lightbox-notouch .nivo-lightbox-effect-fade,
.nivo-lightbox-notouch .nivo-lightbox-effect-fadeScale,
.nivo-lightbox-notouch .nivo-lightbox-effect-slideLeft,
.nivo-lightbox-notouch .nivo-lightbox-effect-slideRight,
.nivo-lightbox-notouch .nivo-lightbox-effect-slideUp,
.nivo-lightbox-notouch .nivo-lightbox-effect-slideDown,
.nivo-lightbox-notouch .nivo-lightbox-effect-fall
    transition all 0.2s ease-in-out
    transition all 0.2s easeout

.nivo-lightbox-effect-fadeScale
    .nivo-lightbox-wrap
        transition all 0.3s
        transition all 0.3s
        transform scale(0.7)
        transform scale(0.7)
    &.nivo-lightbox-open
        .nivo-lightbox-wrap
            transform scale(1)
            transform scale(1)

.nivo-lightbox-effect-slideLeft .nivo-lightbox-wrap,
.nivo-lightbox-effect-slideRight .nivo-lightbox-wrap,
.nivo-lightbox-effect-slideUp .nivo-lightbox-wrap,
.nivo-lightbox-effect-slideDown .nivo-lightbox-wrap
    transition all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9)
    transition all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9)

.nivo-lightbox-effect-slideLeft
    .nivo-lightbox-wrap
        transform translateX(-10%)
        transform translateX(-10%)

.nivo-lightbox-effect-slideRight
    .nivo-lightbox-wrap
        transform translateX(10%)
        transform translateX(10%)

.nivo-lightbox-effect-slideLeft.nivo-lightbox-open .nivo-lightbox-wrap,
.nivo-lightbox-effect-slideRight.nivo-lightbox-open .nivo-lightbox-wrap
    transform translateX(0)
    transform translateX(0)

.nivo-lightbox-effect-slideDown
    .nivo-lightbox-wrap
        transform translateY(-10%)
        transform translateY(-10%)

.nivo-lightbox-effect-slideUp
    .nivo-lightbox-wrap
        transform translateY(10%)
        transform translateY(10%)

.nivo-lightbox-effect-slideUp.nivo-lightbox-open .nivo-lightbox-wrap,
.nivo-lightbox-effect-slideDown.nivo-lightbox-open .nivo-lightbox-wrap
    transform translateY(0)
    transform translateY(0)

.nivo-lightbox-body-effect-fall
    .nivo-lightbox-effect-fall
        perspective 1000px
        perspective 1000px

.nivo-lightbox-effect-fall
    .nivo-lightbox-wrap
        transition all 0.3s ease-out
        transition all 0.3s ease-out
        transform translateZ(300px)
        transform translateZ(300px)
    &.nivo-lightbox-open
        .nivo-lightbox-wrap
            transform translateZ(0)
            transform translateZ(0)
.nivo-lightbox-close
    display block
    position absolute
    right 3%
    top 2%
    background-image url('../icons/close.svg')
    bg()
    color transparent
    width 17px
    height 17px
.nivo-lightbox-button
    display none
    width 100%
    margin-top 30px
    text-align center
    z-index 10000
    sf()
.nivo-lightbox-loading
        background-image: url('../img/loading.gif')
        background-size: 32px 32px
        bg()