.redHelper
    display block
    position fixed
    cursor pointer
    top 150px
    width 47px
    height 240px
    border 1px solid #95BF5E
    padding 2px
    left -12px
    color #7AAE35
    background-color #fff
    text-align center
    transition left 0.2s
    z-index 10000
    &:hover
        left -2px

.redHelperText
    display block
    cursor pointer
    position absolute
    top 105px
    left -92px
    width 240px
    ff(normal,1.6,2.8)
    transform rotate(90deg)