.blockForm
    display block
    position relative
    width 404px
    margin 0 auto
    sf()
.blockFormSquare
    display block
    position absolute
    height 150px
    width 404px
    left 6px
    border 2px solid #E7E7E7
    background-color #fff
    transform rotate(4deg)
    z-index 10

.blockFormWrap
    display block
    position relative
    z-index 100
    top 5px
    border 2px solid #E7E7E7
    width 404px
    min-height 200px
    background-color #fff
    padding 33px 40px

.blockFormSpecial
    display block
    position absolute
    float left
    top 130px
    right -250px
    z-index 10
    margin-top 0px
    margin-left -14px
    width 252px
    // height 303px
    background #F5F5F5
    border 2px solid #E7E7E7
    padding 30px
