.button
    display inline-block
    ff(normal,1.6,1.6)
    border 0px
    outline 0px
    color white
    background-color transparent
    padding 13px 20px 15px
    border-radius 23px
    text-decoration none
    cursor pointer
    border 1px solid transparent

.buttonGreenOutlineSmall
    @extend .button
    padding 9px 15px
    border-radius 18px
    color #7AAE35
    border 1px solid #7AAE35
    &:hover
        color white
        background-color  #6D9C2F
        background-image: linear-gradient(-180deg, #7AAE35 44%, #6F9F2F 46%);
.buttonGreenOutline
    @extend .button
    color #7AAE35
    border 1px solid #7AAE35
    border-radius: 40px;
    &:hover
        color white
        background-color  #6D9C2F
        background-image: linear-gradient(-180deg, #6D9C2F 44%, #638E2A 46%);
.buttonGreenOutlineVideo
    @extend .buttonGreenOutline
    &:hover
        .icon-video
            background-image url('../icons/video-icon-hover.svg')
.buttonOrange
    @extend .button
    // padding 10px 20px 15px
    border-radius 24px
    background-color  #EA8C21
    background-image linear-gradient(-180deg, #EA8C21 44%, #D67A10 46%);
    &:hover
        background-color #D27E1E
        background-image: linear-gradient(-180deg, #D27E1E 44%, #BF6C0E 46%);

.buttonGreen
    @extend .button
    // padding 10px 20px 15px
    border-radius 24px
    background-color #7AAE35
    background-image: linear-gradient(-180deg, #7AAE35 44%, #6F9F2F 46%);
    &:hover
        background-color #6D9C2F
        background-image: linear-gradient(-180deg, #6D9C2F 44%, #638E2A 46%);
.iconTemplate
    display inline-block
    vertical-align middle
    height 17px
    width 17px
    margin-right 7px
    bg()
.icon-video
    @extend .iconTemplate
    background-image url('../icons/video-icon.svg')
    margin-right 4px
.icon-registration
    @extend .iconTemplate
    background-image url('../icons/icon-registration.svg')
.icon-login
    @extend .iconTemplate
    margin-top -5px
    background-image url('../icons/icon-login.svg')
