.platform
    display block
    padding 30px 0px
    background-color #535F84
    sf()

.platformContainer
    center(1000px)

.platformHeader
    display block
    position relative
    sf()
.platformHeaderLine
    display block
    position relative
    top 21px
    left 0
    height 2px
    width 100%
    background-color #808FA6
    z-index 0

.platformHeaderText
    display block
    text-align center
    ff(light_f,2.8,4)
    color #808FA6
    margin-bottom 20px
    background #535F84
.platformHeaderTextWrap
    display inline-block
    position relative
    padding 0 5px
    background-color #535F84
    sf()