.form
    center(100%)
    background-color #F5F5F5
    padding 40px 0
.formContainer
    center(1000px)
    background-color #F5F5F5
    sf()
.formLogo
    display block
    vertical-align middle
    text-align center
    a
        display block
        width 115px
        height 36px
        margin 0 auto
        bg()
.formLogoText
    ff(light_f,1.6,2.2)
    color alpha(#2D322C,0.3)


.formHeader
    display block
    ff(light_f,3.2,4)
    color alpha(#2D322C,1)
    margin-bottom 10px
    sf()
.formHeaderText
    display block
    ff(light_f,1.6,2.8)
    color alpha(#2D322C,1)
    margin-bottom 10px
    sf()
    a
        ff(normal,1.6,2.8)
        color #518ECB
        text-decoration none
        &:hover
            text-decoration underline
    b
        ff(medium,1.6,2.8)
.formHeaderTextMargin
    margin-bottom 30px
.formHeaderMessage
    display block
    margin-top 10px
    ff(normal,1.4,2.4)
    color #D61C1C
.formRegister
    display block
    margin-top 40px
    cf()
.formString
    display block
    margin-bottom 10px
    sf()
.formStringMargin
    margin-bottom 30px
.formLabel
    margin-top 20px
    float left
.formInput
    display block
    sf()
.formMessage
    display inline-block
    margin-top 20px
    float right
    ff(normal,1.4,2.4)
    color alpha(#7B7B7B,0.6)
    a
        ff(normal,1.4,2.4)
        color #518ECB
        text-decoration none
        &:hover
            text-decoration underline
.formMessageRed
    @extend .formMessage
    color #D61C1C
.formMessageRedLeft
    @extend .formMessageRed
    color #D61C1C
    display block
    float left

.formCheck
    display block
    margin-bottom 20px
    sf()
.formButton
    display block
    margin-bottom 10px
    sf()
    button
        width 100%
    m
.formLink
    display block
    margin-bottom 5px
    text-align center
    sf()
    a
        ff(normal,1.6,2.2)
        color #518ECB
        text-decoration none
        &:hover
            text-decoration underline
.formText
    display block
    margin-bottom 10px
    text-align center
    ff(light_f,1.6,2.8)
    color alpha(#2D322C,0.4)
    a
        color alpha(#2D322C,0.4)
        text-decoration underline
        &:hover
            color alpha(#2D322C,1)
.formSpecialHeader
    ff(medium,1.8,2.4)
    color #578618
    margin-bottom 10px

.formSpecialPresent
    display inline-block
    width 24px
    height 24px
    margin-right 7px
    bg()
    background-image url('../icons/icon-present.svg')
.formSpecialText
    ff(normal,1.4,2.7)
    color alpha(#2D323F,0.7)
    margin-bottom 30px
    b
        ff(bold,1.4,2.7)
.formSpecialTimer
    color alpha(#7B7B7B,0.5)
    ff(bold,1.2,1.4)
    span
        display inline-block
        width auto
        background-color #535F84
        padding 5px 10px
        color #fff
        ff(bold,1.4,1.6)
        margin-bottom 5px
