/* normalize.css v2.1.0 | MIT License | git.io/normalize */
* {
  box-sizing: border-box;
  -webkit-overflow-scrolling: none;
}
html {
  font-size: 62.5% !important;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-family: Arial, sans-serif; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -ms-text-size-adjust: 100%; /* 2 */
}
body {
  margin: 0;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
hr {
  box-sizing: content-box;
  height: 0;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
}
pre {
  white-space: pre-wrap;
}
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
fieldset {
  border: 1px solid #c0c0c0;
}
legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}
button,
input,
select,
textarea {
  font-family: inherit; /* 1 */
  margin: 0; /* 3 */
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  padding: 0; /* 2 */
}
input[type="search"] {
  -webkit-appearance: textfield; /* 1 */ /* 2 */
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto; /* 1 */
  vertical-align: top; /* 2 */
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: OpenSans-Regular;
  src: url("../fonts/OpenSans-Regular-webfont.eot");
  src: url("../fonts/OpenSans-Regular-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/OpenSans-Regular-webfont.ttf") format('truetype'), url("../fonts/OpenSans-Regular-webfont.svg#09be4bfe8975a657af6444a6f1d73848") format('svg');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: OpenSans-Light;
  src: url("../fonts/OpenSans-Light-webfont.eot");
  src: url("../fonts/OpenSans-Light-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/OpenSans-Light-webfont.ttf") format('truetype'), url("../fonts/OpenSans-Light-webfont.svg#09be4bfe8975a657af6444a6f1d73848") format('svg');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: OpenSans-Bold;
  src: url("../fonts/OpenSans-Bold-webfont.eot");
  src: url("../fonts/OpenSans-Bold-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/OpenSans-Bold-webfont.ttf") format('truetype'), url("../fonts/OpenSans-Bold-webfont.svg#09be4bfe8975a657af6444a6f1d73848") format('svg');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: OpenSans-Semibold;
  src: url("../fonts/OpenSans-Semibold-webfont.eot");
  src: url("../fonts/OpenSans-Semibold-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/OpenSans-Semibold-webfont.ttf") format('truetype'), url("../fonts/OpenSans-Semibold-webfont.svg#09be4bfe8975a657af6444a6f1d73848") format('svg');
  font-style: normal;
  font-weight: normal;
}
body,
html {
  width: 100%;
}
.button,
.buttonGreenOutlineSmall,
.buttonGreenOutline,
.buttonGreenOutlineVideo,
.buttonOrange,
.buttonGreen {
  display: inline-block;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 1.6rem;
  line-height: 1.6rem;
  font-weight: normal;
  font-style: normal;
  border: 0px;
  outline: 0px;
  color: #fff;
  background-color: transparent;
  padding: 13px 20px 15px;
  border-radius: 23px;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid transparent;
}
.buttonGreenOutlineSmall {
  padding: 9px 15px;
  border-radius: 18px;
  color: #7aae35;
  border: 1px solid #7aae35;
}
.buttonGreenOutlineSmall:hover {
  color: #fff;
  background-color: #6d9c2f;
  background-image: -webkit-linear-gradient(270deg, #7aae35 44%, #6f9f2f 46%);
  background-image: linear-gradient(-180deg, #7aae35 44%, #6f9f2f 46%);
}
.buttonGreenOutline,
.buttonGreenOutlineVideo {
  color: #7aae35;
  border: 1px solid #7aae35;
  border-radius: 40px;
}
.buttonGreenOutline:hover,
.buttonGreenOutlineVideo:hover {
  color: #fff;
  background-color: #6d9c2f;
  background-image: -webkit-linear-gradient(270deg, #6d9c2f 44%, #638e2a 46%);
  background-image: linear-gradient(-180deg, #6d9c2f 44%, #638e2a 46%);
}
.buttonGreenOutlineVideo:hover .icon-video {
  background-image: url("../icons/video-icon-hover.svg");
}
.buttonOrange {
  border-radius: 24px;
  background-color: #ea8c21;
  background-image: -webkit-linear-gradient(270deg, #ea8c21 44%, #d67a10 46%);
  background-image: linear-gradient(-180deg, #ea8c21 44%, #d67a10 46%);
}
.buttonOrange:hover {
  background-color: #d27e1e;
  background-image: -webkit-linear-gradient(270deg, #d27e1e 44%, #bf6c0e 46%);
  background-image: linear-gradient(-180deg, #d27e1e 44%, #bf6c0e 46%);
}
.buttonGreen {
  border-radius: 24px;
  background-color: #7aae35;
  background-image: -webkit-linear-gradient(270deg, #7aae35 44%, #6f9f2f 46%);
  background-image: linear-gradient(-180deg, #7aae35 44%, #6f9f2f 46%);
}
.buttonGreen:hover {
  background-color: #6d9c2f;
  background-image: -webkit-linear-gradient(270deg, #6d9c2f 44%, #638e2a 46%);
  background-image: linear-gradient(-180deg, #6d9c2f 44%, #638e2a 46%);
}
.iconTemplate,
.icon-video,
.icon-registration,
.icon-login {
  display: inline-block;
  vertical-align: middle;
  height: 17px;
  width: 17px;
  margin-right: 7px;
  background-repeat: no-repeat;
  background-position: center center;
}
.icon-video {
  background-image: url("../icons/video-icon.svg");
  margin-right: 4px;
}
.icon-registration {
  background-image: url("../icons/icon-registration.svg");
}
.icon-login {
  margin-top: -5px;
  background-image: url("../icons/icon-login.svg");
}
.slick-slider {
  position: relative;
  display: block;
  width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -ms-touch-action: pan-y;
      touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-loading .slick-list {
  background: #fff image-url("ajax-loader.gif", false, false) center center no-repeat;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 240px;
  width: 65px;
  line-height: 0;
  font-size: 0;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 0px;
  padding: 0;
  border: none;
  outline: none;
  z-index: 1000;
}
.slick-prev {
  left: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../icons/arrow-prev.svg");
}
.slick-prev:hover {
  background-image: url("../icons/arrow-prev-hover.svg");
}
.slick-next {
  right: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../icons/arrow-next.svg");
}
.slick-next:hover {
  background-image: url("../icons/arrow-next-hover.svg");
}
.slick-dots {
  position: absolute;
  bottom: 0px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 10px;
  width: 10px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  background-repeat: no-repeat;
  background-position: pos-x pos-y;
  background-image: url("../icons/dot.svg");
  background-color: transparent;
  display: block;
  height: 10px;
  width: 10px;
  outline: none;
  border: 0px;
  font-size: 0;
}
.slick-dots li.slick-active button {
  background-repeat: no-repeat;
  background-position: pos-x pos-y;
  background-image: url("../icons/dot-active.svg");
  background-color: transparent;
}
.blockForm {
  display: block;
  position: relative;
  width: 404px;
  margin: 0 auto;
  *zoom: 1;
}
.blockForm:before,
.blockForm:after {
  content: '';
  display: table;
}
.blockForm:after {
  clear: both;
}
.blockFormSquare {
  display: block;
  position: absolute;
  height: 150px;
  width: 404px;
  left: 6px;
  border: 2px solid #e7e7e7;
  background-color: #fff;
  -webkit-transform: rotate(4deg);
      -ms-transform: rotate(4deg);
          transform: rotate(4deg);
  z-index: 10;
}
.blockFormWrap {
  display: block;
  position: relative;
  z-index: 100;
  top: 5px;
  border: 2px solid #e7e7e7;
  width: 404px;
  min-height: 200px;
  background-color: #fff;
  padding: 33px 40px;
}
.blockFormSpecial {
  display: block;
  position: absolute;
  float: left;
  top: 130px;
  right: -250px;
  z-index: 10;
  margin-top: 0px;
  margin-left: -14px;
  width: 252px;
  background: #f5f5f5;
  border: 2px solid #e7e7e7;
  padding: 30px;
}
.label {
  display: inline-block;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 1.8rem;
  line-height: 2.2rem;
  font-weight: normal;
  font-style: normal;
  margin-bottom: 5px;
}
.labelCheckbox {
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 1.4rem;
  line-height: 2.2rem;
  font-weight: normal;
  font-style: normal;
  color: #2d322c;
  cursor: pointer;
}
.input {
  display: block;
  width: 100%;
  font-family: "OpenSans-Light", sans-serif;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: normal;
  font-style: normal;
  color: #2d322c;
  padding: 10px 12px;
  height: 47px;
  border: 1px solid #bfc3c8;
  outline: 0;
  -webkit-appearance: none;
  border-radius: 0;
}
.input:focus {
  border: 1px solid #50a7ff;
}
.icheckbox {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  position: relative;
  width: 16px;
  height: 16px;
  border: 1px solid #e5e5e5;
  border-bottom-color: #bababf;
  border-radius: 0px;
  background-color: #fff;
  margin-right: 10px;
  top: -2px;
  *zoom: 1;
/* Rectangle 82: */
  background-image: -webkit-linear-gradient(269deg, #fff 6%, #f5f5f5 46%);
  background-image: linear-gradient(-179deg, #fff 6%, #f5f5f5 46%);
}
.icheckbox:before,
.icheckbox:after {
  content: '';
  display: table;
}
.icheckbox:after {
  clear: both;
}
.icheckbox.hover {
  border-color: #9797a2;
  background-image: -webkit-linear-gradient(269deg, #fff 6%, #f5f5f5 46%);
  background-image: linear-gradient(-179deg, #fff 6%, #f5f5f5 46%);
}
.icheckbox.checked {
  position: relative;
}
.icheckbox.checked:before {
  display: block;
  position: absolute;
  height: 8px;
  width: 10px;
  content: "";
  top: 3px;
  left: 3px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../icons/icheck-checked.svg");
}
.icheckbox.disabled {
  background: none;
  cursor: default;
}
.icheckbox.focus {
  border-color: #afada0;
}
.iradio {
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  border: 2px solid #bfbfbf;
  cursor: pointer;
  float: left;
  margin-right: 10px;
  background-color: #fff;
  *zoom: 1;
}
.iradio:before,
.iradio:after {
  content: '';
  display: table;
}
.iradio:after {
  clear: both;
}
.iradio.hover {
  border: 1px solid quartz;
}
.iradio.checked {
  position: relative;
  background-color: #00aeff;
  border-color: #0094d9;
}
.iradio.checked:before {
  display: block;
  position: absolute;
  height: 10px;
  width: 10px;
  content: "";
  top: 5px;
  left: 5px;
  border-radius: 5px;
  background-color: #000;
}
.iradio.checked.disabled {
  background-position: -216px 0;
}
.iradio.disabled {
  background-position: -192px 0;
  cursor: default;
}
.redHelper {
  display: block;
  position: fixed;
  cursor: pointer;
  top: 150px;
  width: 47px;
  height: 240px;
  border: 1px solid #95bf5e;
  padding: 2px;
  left: -12px;
  color: #7aae35;
  background-color: #fff;
  text-align: center;
  -webkit-transition: left 0.2s;
          transition: left 0.2s;
  z-index: 10000;
}
.redHelper:hover {
  left: -2px;
}
.redHelperText {
  display: block;
  cursor: pointer;
  position: absolute;
  top: 105px;
  left: -92px;
  width: 240px;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 1.6rem;
  line-height: 2.8rem;
  font-weight: normal;
  font-style: normal;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
.nivo-lightbox-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99998;
  width: 100%;
  height: 100%;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  background-color: rgba(49,51,56,0.9);
  box-sizing: border-box;
}
.nivo-lightbox-overlay.nivo-lightbox-open {
  visibility: visible;
  opacity: 1;
}
.nivo-lightbox-wrap {
  position: absolute;
  top: 5%;
  bottom: 10%;
  left: 5%;
  right: 5%;
}
.nivo-lightbox-content {
  width: 100%;
  height: 100%;
  padding-bottom: 56.25%;
}
.nivo-lightbox-content iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}
.nivo-lightbox-title-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 99999;
  text-align: center;
}
.nivo-lightbox-nav {
  display: none;
}
.nivo-lightbox-prev {
  position: absolute;
  top: 50%;
  left: 0;
}
.nivo-lightbox-next {
  position: absolute;
  top: 50%;
  right: 0;
}
.nivo-lightbox-opacity {
  position: absolute;
  top: 2%;
  right: 2%;
}
.nivo-lightbox-image {
  text-align: center;
}
.nivo-lightbox-image img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  vertical-align: middle;
}
.nivo-lightbox-inline,
.nivo-lightbox-ajax {
  max-height: 100%;
  overflow: auto;
  box-sizing: border-box;
}
.nivo-lightbox-error {
  display: table;
  text-align: center;
  width: 100%;
  height: 100%;
  color: #fff;
  text-shadow: 0 1px 1px #000;
}
.nivo-lightbox-error p {
  display: table-cell;
  vertical-align: middle;
}
.nivo-lightbox-notouch .nivo-lightbox-effect-fade,
.nivo-lightbox-notouch .nivo-lightbox-effect-fadeScale,
.nivo-lightbox-notouch .nivo-lightbox-effect-slideLeft,
.nivo-lightbox-notouch .nivo-lightbox-effect-slideRight,
.nivo-lightbox-notouch .nivo-lightbox-effect-slideUp,
.nivo-lightbox-notouch .nivo-lightbox-effect-slideDown,
.nivo-lightbox-notouch .nivo-lightbox-effect-fall {
  -webkit-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s easeout;
          transition: all 0.2s easeout;
}
.nivo-lightbox-effect-fadeScale .nivo-lightbox-wrap {
  -webkit-transition: all 0.3s;
          transition: all 0.3s;
  -webkit-transition: all 0.3s;
          transition: all 0.3s;
  -webkit-transform: scale(0.7);
      -ms-transform: scale(0.7);
          transform: scale(0.7);
  -webkit-transform: scale(0.7);
      -ms-transform: scale(0.7);
          transform: scale(0.7);
}
.nivo-lightbox-effect-fadeScale.nivo-lightbox-open .nivo-lightbox-wrap {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
.nivo-lightbox-effect-slideLeft .nivo-lightbox-wrap,
.nivo-lightbox-effect-slideRight .nivo-lightbox-wrap,
.nivo-lightbox-effect-slideUp .nivo-lightbox-wrap,
.nivo-lightbox-effect-slideDown .nivo-lightbox-wrap {
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
          transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
          transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
}
.nivo-lightbox-effect-slideLeft .nivo-lightbox-wrap {
  -webkit-transform: translateX(-10%);
      -ms-transform: translateX(-10%);
          transform: translateX(-10%);
  -webkit-transform: translateX(-10%);
      -ms-transform: translateX(-10%);
          transform: translateX(-10%);
}
.nivo-lightbox-effect-slideRight .nivo-lightbox-wrap {
  -webkit-transform: translateX(10%);
      -ms-transform: translateX(10%);
          transform: translateX(10%);
  -webkit-transform: translateX(10%);
      -ms-transform: translateX(10%);
          transform: translateX(10%);
}
.nivo-lightbox-effect-slideLeft.nivo-lightbox-open .nivo-lightbox-wrap,
.nivo-lightbox-effect-slideRight.nivo-lightbox-open .nivo-lightbox-wrap {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}
.nivo-lightbox-effect-slideDown .nivo-lightbox-wrap {
  -webkit-transform: translateY(-10%);
      -ms-transform: translateY(-10%);
          transform: translateY(-10%);
  -webkit-transform: translateY(-10%);
      -ms-transform: translateY(-10%);
          transform: translateY(-10%);
}
.nivo-lightbox-effect-slideUp .nivo-lightbox-wrap {
  -webkit-transform: translateY(10%);
      -ms-transform: translateY(10%);
          transform: translateY(10%);
  -webkit-transform: translateY(10%);
      -ms-transform: translateY(10%);
          transform: translateY(10%);
}
.nivo-lightbox-effect-slideUp.nivo-lightbox-open .nivo-lightbox-wrap,
.nivo-lightbox-effect-slideDown.nivo-lightbox-open .nivo-lightbox-wrap {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}
.nivo-lightbox-body-effect-fall .nivo-lightbox-effect-fall {
  -webkit-perspective: 1000px;
          perspective: 1000px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}
.nivo-lightbox-effect-fall .nivo-lightbox-wrap {
  -webkit-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
  -webkit-transform: translateZ(300px);
          transform: translateZ(300px);
  -webkit-transform: translateZ(300px);
          transform: translateZ(300px);
}
.nivo-lightbox-effect-fall.nivo-lightbox-open .nivo-lightbox-wrap {
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}
.nivo-lightbox-close {
  display: block;
  position: absolute;
  right: 3%;
  top: 2%;
  background-image: url("../icons/close.svg");
  background-repeat: no-repeat;
  background-position: center center;
  color: transparent;
  width: 17px;
  height: 17px;
}
.nivo-lightbox-button {
  display: none;
  width: 100%;
  margin-top: 30px;
  text-align: center;
  z-index: 10000;
  *zoom: 1;
}
.nivo-lightbox-button:before,
.nivo-lightbox-button:after {
  content: '';
  display: table;
}
.nivo-lightbox-button:after {
  clear: both;
}
.nivo-lightbox-loading {
  background-image: url("../img/loading.gif");
  background-size: 32px 32px;
  background-repeat: no-repeat;
  background-position: center center;
}
.header {
  display: block;
  background-color: #fff;
  padding: 30px 0px;
  *zoom: 1;
}
.header:before,
.header:after {
  content: '';
  display: table;
}
.header:after {
  clear: both;
}
.headerContainer {
  *zoom: 1;
  width: auto;
  max-width: 1000px;
  min-width: 1000px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
}
.headerContainer:before,
.headerContainer:after {
  content: '';
  display: table;
}
.headerContainer:after {
  clear: both;
}
.headerLeft {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 50%;
  margin-left: 0%;
  margin-right: 0%;
}
.headerLeft:before,
.headerLeft:after {
  content: '';
  display: table;
}
.headerLeft:after {
  clear: both;
}
.headerRight {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 50%;
  margin-left: 0%;
  margin-right: 0%;
  text-align: right;
}
.headerRight:before,
.headerRight:after {
  content: '';
  display: table;
}
.headerRight:after {
  clear: both;
}
.headerLogo {
  display: inline-block;
  vertical-align: middle;
  margin-right: 40px;
}
.headerLogo a {
  display: block;
  width: 115px;
  height: 36px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../img/logo.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .headerLogo a {
    background-image: url("../img/logo@2x.png");
    background-size: 115px 36px;
  }
}
.headerMenu {
  display: inline-block;
  vertical-align: middle;
}
.headerMenuItem {
  display: inline-block;
  vertical-align: middle;
  margin-right: 40px;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 1.6rem;
  line-height: 1.8rem;
  font-weight: normal;
  font-style: normal;
}
.headerMenuItem a {
  color: #49504b;
  text-decoration: none;
}
.headerMenuItem a:hover {
  color: #86a957;
}
.headerMenuItem:last-child {
  margin-right: 0px;
}
.headerLogin {
  display: inline-block;
  margin-right: 20px;
}
.headerPhone {
  display: inline-block;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 1.6rem;
  line-height: 1.8rem;
  font-weight: normal;
  font-style: normal;
  color: #49504b;
  padding-left: 18px;
  background-repeat: no-repeat;
  background-position: left center;
  background-image: url("../icons/phone.svg");
}
.banner {
  display: block;
  background-color: #f5f5f5;
  padding: 60px 0px;
}
.bannerContainer {
  *zoom: 1;
  width: auto;
  max-width: 1060px;
  min-width: 1000px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
}
.bannerContainer:before,
.bannerContainer:after {
  content: '';
  display: table;
}
.bannerContainer:after {
  clear: both;
}
.bannerMacbook {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 50%;
  margin-left: 0%;
  margin-right: 0%;
}
.bannerMacbook:before,
.bannerMacbook:after {
  content: '';
  display: table;
}
.bannerMacbook:after {
  clear: both;
}
.bannerMessage {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 50%;
  margin-left: 0%;
  margin-right: 0%;
}
.bannerMessage:before,
.bannerMessage:after {
  content: '';
  display: table;
}
.bannerMessage:after {
  clear: both;
}
.bannerMacbookImage {
  display: block;
  width: 469px;
  height: 274px;
  float: right;
  margin-right: 30px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../img/macbook.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .bannerMacbookImage {
    background-image: url("../img/macbook@2x.png");
    background-size: 469px 274px;
  }
}
.bannerHeader {
  font-family: "OpenSans-Light", sans-serif;
  font-size: 4.5rem;
  line-height: 5.5rem;
  font-weight: normal;
  font-style: normal;
  color: #343434;
  margin-bottom: 20px;
}
.bannerText {
  font-family: "OpenSans-Light", sans-serif;
  font-size: 2rem;
  line-height: normal;
  font-weight: normal;
  font-style: normal;
  color: #888;
  margin-bottom: 13px;
}
.bannerPlatform {
  display: block;
  width: 100%;
  white-space: nowrap;
  font-family: "OpenSans-Light", sans-serif;
  font-size: 2rem;
  line-height: normal;
  font-weight: normal;
  font-style: normal;
  color: #888;
  margin-bottom: 22px;
}
.bannerPlatformItem {
  display: inline-block;
  padding-right: 10px;
  background-repeat: no-repeat;
  background-position: right center;
  background-image: url("../icons/oval.svg");
}
.bannerPlatformItem:last-child {
  padding-right: 0px;
  background: none;
}
.howToUse {
  display: block;
  padding: 60px 0px;
  *zoom: 1;
}
.howToUse:before,
.howToUse:after {
  content: '';
  display: table;
}
.howToUse:after {
  clear: both;
}
.howToUseContainer {
  *zoom: 1;
  width: auto;
  max-width: 1000px;
  min-width: 1000px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
}
.howToUseContainer:before,
.howToUseContainer:after {
  content: '';
  display: table;
}
.howToUseContainer:after {
  clear: both;
}
.howToUseHeader {
  display: block;
  font-family: "OpenSans-Light", sans-serif;
  font-size: 3.2rem;
  line-height: 4rem;
  font-weight: normal;
  font-style: normal;
  color: #343434;
  margin-bottom: 20px;
  *zoom: 1;
}
.howToUseHeader:before,
.howToUseHeader:after {
  content: '';
  display: table;
}
.howToUseHeader:after {
  clear: both;
}
.howToUsePatch {
  display: block;
  margin-bottom: 15px;
  *zoom: 1;
}
.howToUsePatch:before,
.howToUsePatch:after {
  content: '';
  display: table;
}
.howToUsePatch:after {
  clear: both;
}
.howToUsePatchItem {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 25%;
  margin-left: 0%;
  margin-right: 0%;
  position: relative;
  vertical-align: middle;
  text-align: center;
}
.howToUsePatchItem:before,
.howToUsePatchItem:after {
  content: '';
  display: table;
}
.howToUsePatchItem:after {
  clear: both;
}
.howToUsePatchItem img {
  margin-bottom: 10px;
}
.howToUsePatchItemArrow:after {
  display: block;
  position: absolute;
  content: "";
  top: 55px;
  right: -25px;
  background-repeat: no-repeat;
  background-position: pos-x pos-y;
  background-image: url("../icons/step-arrow.svg");
  width: 48px;
  height: 10px;
}
.howToUsePatchText {
  display: block;
  *zoom: 1;
}
.howToUsePatchText:before,
.howToUsePatchText:after {
  content: '';
  display: table;
}
.howToUsePatchText:after {
  clear: both;
}
.howToUsePatchTextItem {
  display: block;
  text-align: center;
}
.howToUsePatchTextItemHeader {
  color: #2d322c;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 1.8rem;
  line-height: 2.2rem;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  margin-bottom: 5px;
}
.howToUsePatchTextItemText {
  color: #888;
  font-family: "OpenSans-Light", sans-serif;
  font-size: 1.6rem;
  line-height: 2.8rem;
  font-weight: normal;
  font-style: normal;
  text-align: center;
}
.sliderWrap {
  display: block;
  background-color: #86a957;
  overflow: hidden;
  min-width: 1050px;
  padding-bottom: 10px;
  *zoom: 1;
}
.sliderWrap:before,
.sliderWrap:after {
  content: '';
  display: table;
}
.sliderWrap:after {
  clear: both;
}
.slider {
  display: block;
  width: 100%;
  position: relative;
  *zoom: 1;
}
.slider:before,
.slider:after {
  content: '';
  display: table;
}
.slider:after {
  clear: both;
}
.sliderItem {
  display: block;
  width: 1000px;
  margin: 0 auto;
  padding: 50px 0;
  *zoom: 1;
}
.sliderItem:before,
.sliderItem:after {
  content: '';
  display: table;
}
.sliderItem:after {
  clear: both;
}
.sliderItemPhoto {
  display: block;
  float: left;
  width: 130px;
  height: 130px;
  margin-right: 20px;
  *zoom: 1;
}
.sliderItemPhoto:before,
.sliderItemPhoto:after {
  content: '';
  display: table;
}
.sliderItemPhoto:after {
  clear: both;
}
.sliderItemText {
  display: block;
  float: left;
  *zoom: 1;
}
.sliderItemText:before,
.sliderItemText:after {
  content: '';
  display: table;
}
.sliderItemText:after {
  clear: both;
}
.sliderItemText {
  display: block;
  font-family: "OpenSans-Light", sans-serif;
  font-size: 2.8rem;
  line-height: 4.4rem;
  font-weight: normal;
  font-style: normal;
  color: #fff;
}
.sliderItemTextName {
  font-family: "OpenSans-Light", sans-serif;
  font-size: 1.6rem;
  line-height: normal;
  font-weight: normal;
  font-style: normal;
  margin-top: 5px;
  color: #d3ff97;
}
.sliderItemTextName b {
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 1.6rem;
  line-height: normal;
  font-weight: normal;
  font-style: normal;
}
.choise {
  display: block;
  padding: 60px 0px;
  *zoom: 1;
}
.choise:before,
.choise:after {
  content: '';
  display: table;
}
.choise:after {
  clear: both;
}
.choiseContainer {
  *zoom: 1;
  width: auto;
  max-width: 1000px;
  min-width: 1000px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
}
.choiseContainer:before,
.choiseContainer:after {
  content: '';
  display: table;
}
.choiseContainer:after {
  clear: both;
}
.choiseHeader {
  display: block;
  font-family: "OpenSans-Light", sans-serif;
  font-size: 3.2rem;
  line-height: 4rem;
  font-weight: normal;
  font-style: normal;
  color: #343434;
  margin-bottom: 60px;
  *zoom: 1;
}
.choiseHeader:before,
.choiseHeader:after {
  content: '';
  display: table;
}
.choiseHeader:after {
  clear: both;
}
.choiseItems {
  display: block;
  *zoom: 1;
}
.choiseItems:before,
.choiseItems:after {
  content: '';
  display: table;
}
.choiseItems:after {
  clear: both;
}
.choiseItem {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 48.5%;
  margin-left: 0%;
  margin-right: 3%;
  margin-bottom: 56px;
}
.choiseItem:before,
.choiseItem:after {
  content: '';
  display: table;
}
.choiseItem:after {
  clear: both;
}
.choiseItem:nth-child(2n) {
  margin-right: 0%;
  float: right;
}
.choiseItem:nth-child(2n+1) {
  clear: both;
}
.choiseItemIcon {
  display: table-cell;
  vertical-align: top;
  padding-right: 15px;
}
.choiseItemText {
  display: table-cell;
  padding-right: 26px;
}
.choiseItemText h1 {
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 1.8rem;
  line-height: 2.2rem;
  font-weight: normal;
  font-style: normal;
  color: #2d322c;
  margin-bottom: 3px;
}
.choiseItemText p {
  color: #888;
  font-family: "OpenSans-Light", sans-serif;
  font-size: 1.6rem;
  line-height: 2.8rem;
  font-weight: normal;
  font-style: normal;
  white-space: nowrap;
}
.choiseButton {
  display: block;
  text-align: center;
}
.choiseButton button {
  margin-right: 5px;
}
.platform {
  display: block;
  padding: 30px 0px;
  background-color: #535f84;
  *zoom: 1;
}
.platform:before,
.platform:after {
  content: '';
  display: table;
}
.platform:after {
  clear: both;
}
.platformContainer {
  *zoom: 1;
  width: auto;
  max-width: 1000px;
  min-width: 1000px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
}
.platformContainer:before,
.platformContainer:after {
  content: '';
  display: table;
}
.platformContainer:after {
  clear: both;
}
.platformHeader {
  display: block;
  position: relative;
  *zoom: 1;
}
.platformHeader:before,
.platformHeader:after {
  content: '';
  display: table;
}
.platformHeader:after {
  clear: both;
}
.platformHeaderLine {
  display: block;
  position: relative;
  top: 21px;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #808fa6;
  z-index: 0;
}
.platformHeaderText {
  display: block;
  text-align: center;
  font-family: "OpenSans-Light", sans-serif;
  font-size: 2.8rem;
  line-height: 4rem;
  font-weight: normal;
  font-style: normal;
  color: #808fa6;
  margin-bottom: 20px;
  background: #535f84;
}
.platformHeaderTextWrap {
  display: inline-block;
  position: relative;
  padding: 0 5px;
  background-color: #535f84;
  *zoom: 1;
}
.platformHeaderTextWrap:before,
.platformHeaderTextWrap:after {
  content: '';
  display: table;
}
.platformHeaderTextWrap:after {
  clear: both;
}
.price {
  display: block;
  padding: 60px 0px;
  *zoom: 1;
}
.price:before,
.price:after {
  content: '';
  display: table;
}
.price:after {
  clear: both;
}
.priceContainer {
  *zoom: 1;
  width: auto;
  max-width: 1000px;
  min-width: 1000px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
}
.priceContainer:before,
.priceContainer:after {
  content: '';
  display: table;
}
.priceContainer:after {
  clear: both;
}
.priceHeader {
  display: block;
  font-family: "OpenSans-Light", sans-serif;
  font-size: 3.2rem;
  line-height: 4rem;
  font-weight: normal;
  font-style: normal;
  color: #343434;
  margin-bottom: 60px;
  *zoom: 1;
}
.priceHeader:before,
.priceHeader:after {
  content: '';
  display: table;
}
.priceHeader:after {
  clear: both;
}
.priceBlockContainer {
  display: block;
  position: relative;
  *zoom: 1;
}
.priceBlockContainer:before,
.priceBlockContainer:after {
  content: '';
  display: table;
}
.priceBlockContainer:after {
  clear: both;
}
.priceBlock {
  display: block;
  position: relative;
  margin-left: 170px;
  float: left;
  width: 424px;
  height: 392px;
  padding: 10px 20px 50px 30px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../icons/block.svg");
  z-index: 100;
}
.priceBlockHeader {
  font-family: "OpenSans-Semibold", sans-serif;
  font-size: 1.8rem;
  line-height: 2.8rem;
  font-weight: normal;
  font-style: normal;
  color: #2d322c;
  margin-top: 30px;
  margin-bottom: 15px;
}
.priceBlockRegistr {
  display: block;
  position: relative;
  float: left;
  z-index: 10;
  margin-top: 51px;
  margin-left: -14px;
  width: 252px;
  height: 313px;
  background: #f5f5f5;
  border: 2px solid #e7e7e7;
  padding: 30px 30px 40px;
}
.priceBlockRegistr ul {
  list-style-type: disc;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 1.2rem;
  line-height: 1.6rem;
  font-weight: normal;
  font-style: normal;
  color: rgba(45,50,44,0.4);
  padding-left: 22px;
}
.priceBlockRegistr ul li {
  padding-bottom: 15px;
}
.priceBlockRegistrHeader {
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 1.2rem;
  line-height: normal;
  font-weight: normal;
  font-style: normal;
  color: #7aae35;
  background-repeat: no-repeat;
  background-position: left top center;
  padding-left: 22px;
  background-image: url("../icons/check.svg");
}
.priceString {
  display: block;
  width: 100%;
  padding: 0 20px;
  margin-bottom: 15px;
  *zoom: 1;
}
.priceString:before,
.priceString:after {
  content: '';
  display: table;
}
.priceString:after {
  clear: both;
}
.priceStringText {
  display: block;
  float: left;
  font-family: "OpenSans-Light", sans-serif;
  font-size: 1.6rem;
  line-height: 2.8rem;
  font-weight: normal;
  font-style: normal;
  color: #2d322c;
}
.priceStringAmout {
  display: block;
  float: right;
  font-family: "OpenSans-Semibold", sans-serif;
  font-size: 1.8rem;
  line-height: 2.8rem;
  font-weight: normal;
  font-style: normal;
  color: #de8219;
}
.priceComment {
  padding-top: 15px;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 1.2rem;
  line-height: 1.6rem;
  font-weight: normal;
  font-style: normal;
  color: #2d322c;
  opacity: 0.3;
  padding-left: 12px;
}
.priceBlockButton {
  display: block;
  margin-top: 30px;
  position: relative;
  text-align: center;
}
.priceBlockButton button {
  margin-right: 5px;
}
.priceBlockButton:before {
  display: block;
  content: "";
  position: absolute;
  top: -100px;
  left: 30px;
  background-repeat: no-repeat;
  background-position: center center;
  width: 186px;
  height: 129px;
  background-image: url("../icons/help-arrow.svg");
}
.footer {
  display: block;
  background-color: #f5f5f5;
  padding: 60px 0px 30px;
  width: 100%;
  *zoom: 1;
}
.footer:before,
.footer:after {
  content: '';
  display: table;
}
.footer:after {
  clear: both;
}
.footerContainer {
  *zoom: 1;
  width: auto;
  max-width: 1000px;
  min-width: 1000px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
}
.footerContainer:before,
.footerContainer:after {
  content: '';
  display: table;
}
.footerContainer:after {
  clear: both;
}
.footerNews {
  display: block;
  margin-bottom: 30px;
  *zoom: 1;
}
.footerNews:before,
.footerNews:after {
  content: '';
  display: table;
}
.footerNews:after {
  clear: both;
}
.footerNewsLogo {
  display: block;
  float: left;
  margin-top: 17px;
  width: 155px;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 1.2rem;
  line-height: 1.6rem;
  font-weight: normal;
  font-style: normal;
  color: rgba(45,50,44,0.3);
  padding-right: 15px;
}
.footerNewsLogo a {
  display: block;
  width: 133px;
  height: 40px;
  margin-right: 30px;
  margin-bottom: 5px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 132px 39px;
  background-image: url("../img/logo.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .footerNewsLogo a {
    background-image: url("../img/logo@2x.png");
    background-size: 132px 39px;
  }
}
.footerNewsBlock {
  display: block;
  position: relative;
  float: left;
  width: 845px;
  height: 85px;
  padding: 20px 20px 15px 45px;
  background-repeat: no-repeat;
  background-position: left center;
  background-image: url("../icons/news-block.svg");
}
.footerNewsBlockDate {
  display: block;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 1.2rem;
  line-height: 1.6rem;
  font-weight: normal;
  font-style: normal;
  color: #888;
  margin-bottom: 5px;
}
.footerNewsBlockText {
  font-family: "OpenSans-Light", sans-serif;
  font-size: 1.8rem;
  line-height: 3rem;
  font-weight: normal;
  font-style: normal;
}
.footerNewsBlockText a {
  color: rgba(45,50,44,0.8);
  text-decoration: none;
}
.footerNewsBlockText a:hover {
  text-decoration: underline;
}
.footerNewsBlockAllNews {
  display: block;
  position: absolute;
  top: 18px;
  right: 20px;
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 23px;
  background-image: url("../icons/news.svg");
}
.footerNewsBlockAllNews a {
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 1.2rem;
  line-height: 1.8rem;
  font-weight: normal;
  font-style: normal;
  color: #7aae35;
  text-decoration: none;
}
.footerNewsBlockAllNews a:hover {
  text-decoration: underline;
}
.footerMenu {
  display: block;
  margin-bottom: 30px;
  *zoom: 1;
}
.footerMenu:before,
.footerMenu:after {
  content: '';
  display: table;
}
.footerMenu:after {
  clear: both;
}
.footerMenuItem {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 22.75%;
  margin-left: 0%;
  margin-right: 3%;
}
.footerMenuItem:before,
.footerMenuItem:after {
  content: '';
  display: table;
}
.footerMenuItem:after {
  clear: both;
}
.footerMenuItem:last-child {
  margin-right: 0%;
}
.footerMenuItem h2 {
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 1.8rem;
  line-height: 3rem;
  font-weight: normal;
  font-style: normal;
  color: rgba(45,50,44,0.8);
  margin-bottom: 5px;
}
.footerMenuItem a {
  display: block;
  font-family: "OpenSans-Light", sans-serif;
  font-size: 1.6rem;
  line-height: 3.4rem;
  font-weight: normal;
  font-style: normal;
  color: rgba(45,50,44,0.5);
  text-decoration: none;
}
.footerMenuItem a:hover {
  text-decoration: underline;
  color: #2d322c;
}
.footerMenuItemPhone {
  display: block;
  *zoom: 1;
}
.footerMenuItemPhone:before,
.footerMenuItemPhone:after {
  content: '';
  display: table;
}
.footerMenuItemPhone:after {
  clear: both;
}
.footerMenuItemPhoneNumber {
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 1.8rem;
  line-height: 3rem;
  font-weight: normal;
  font-style: normal;
  color: rgba(45,50,44,0.8);
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 25px;
  background-image: url("../icons/footer-phone.svg");
  margin-bottom: 5px;
}
.footerMenuItemPhoneTime {
  display: block;
  font-family: "OpenSans-Light", sans-serif;
  font-size: 1.6rem;
  line-height: 3.4rem;
  font-weight: normal;
  font-style: normal;
  color: rgba(45,50,44,0.5);
  padding-left: 23px;
  margin-bottom: 15px;
}
.footerMenuItemEmail {
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 25px;
  background-image: url("../icons/footer-mail.svg");
  margin-bottom: 15px;
}
.footerMenuItemEmail a {
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 1.8rem;
  line-height: normal;
  font-weight: normal;
  font-style: normal;
  color: rgba(45,50,44,0.8);
  text-decoration: none;
}
.footerMenuItemSocial {
  display: block;
  *zoom: 1;
}
.footerMenuItemSocial:before,
.footerMenuItemSocial:after {
  content: '';
  display: table;
}
.footerMenuItemSocial:after {
  clear: both;
}
.footerMenuItemSocialIcon,
.footerMenuItemSocialFacebook,
.footerMenuItemSocialTwitter,
.footerMenuItemSocialVK {
  display: inline-block;
  width: 21px;
  height: 21px;
  cursor: pointer;
  margin-right: 5px;
  background-repeat: no-repeat;
  background-position: center center;
}
.footerMenuItemSocialIcon a,
.footerMenuItemSocialFacebook a,
.footerMenuItemSocialTwitter a,
.footerMenuItemSocialVK a {
  width: 21px;
  height: 21px;
}
.footerMenuItemSocialFacebook {
  background-image: url("../icons/footer-facebook.svg");
}
.footerMenuItemSocialFacebook:hover {
  background-image: url("../icons/footer-facebook-hover.svg");
}
.footerMenuItemSocialTwitter {
  background-image: url("../icons/footer-twitter.svg");
}
.footerMenuItemSocialTwitter:hover {
  background-image: url("../icons/footer-twitter-hover.svg");
}
.footerMenuItemSocialVK {
  background-image: url("../icons/footer-vk.svg");
}
.footerMenuItemSocialVK:hover {
  background-image: url("../icons/footer-vk-hover.svg");
}
.footerMenuItemBig {
  float: right;
}
.form {
  *zoom: 1;
  width: auto;
  max-width: 100%;
  min-width: 1000px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  background-color: #f5f5f5;
  padding: 40px 0;
}
.form:before,
.form:after {
  content: '';
  display: table;
}
.form:after {
  clear: both;
}
.formContainer {
  *zoom: 1;
  width: auto;
  max-width: 1000px;
  min-width: 1000px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  background-color: #f5f5f5;
  *zoom: 1;
}
.formContainer:before,
.formContainer:after {
  content: '';
  display: table;
}
.formContainer:after {
  clear: both;
}
.formContainer:before,
.formContainer:after {
  content: '';
  display: table;
}
.formContainer:after {
  clear: both;
}
.formLogo {
  display: block;
  vertical-align: middle;
  text-align: center;
}
.formLogo a {
  display: block;
  width: 115px;
  height: 36px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center center;
}
.formLogoText {
  font-family: "OpenSans-Light", sans-serif;
  font-size: 1.6rem;
  line-height: 2.2rem;
  font-weight: normal;
  font-style: normal;
  color: rgba(45,50,44,0.3);
}
.formHeader {
  display: block;
  font-family: "OpenSans-Light", sans-serif;
  font-size: 3.2rem;
  line-height: 4rem;
  font-weight: normal;
  font-style: normal;
  color: #2d322c;
  margin-bottom: 10px;
  *zoom: 1;
}
.formHeader:before,
.formHeader:after {
  content: '';
  display: table;
}
.formHeader:after {
  clear: both;
}
.formHeaderText {
  display: block;
  font-family: "OpenSans-Light", sans-serif;
  font-size: 1.6rem;
  line-height: 2.8rem;
  font-weight: normal;
  font-style: normal;
  color: #2d322c;
  margin-bottom: 10px;
  *zoom: 1;
}
.formHeaderText:before,
.formHeaderText:after {
  content: '';
  display: table;
}
.formHeaderText:after {
  clear: both;
}
.formHeaderText a {
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 1.6rem;
  line-height: 2.8rem;
  font-weight: normal;
  font-style: normal;
  color: #518ecb;
  text-decoration: none;
}
.formHeaderText a:hover {
  text-decoration: underline;
}
.formHeaderText b {
  font-family: "OpenSans-Semibold", sans-serif;
  font-size: 1.6rem;
  line-height: 2.8rem;
  font-weight: normal;
  font-style: normal;
}
.formHeaderTextMargin {
  margin-bottom: 30px;
}
.formHeaderMessage {
  display: block;
  margin-top: 10px;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 1.4rem;
  line-height: 2.4rem;
  font-weight: normal;
  font-style: normal;
  color: #d61c1c;
}
.formRegister {
  display: block;
  margin-top: 40px;
  *zoom: 1;
}
.formRegister:before,
.formRegister:after {
  content: '';
  display: table;
}
.formRegister:after {
  clear: both;
}
.formString {
  display: block;
  margin-bottom: 10px;
  *zoom: 1;
}
.formString:before,
.formString:after {
  content: '';
  display: table;
}
.formString:after {
  clear: both;
}
.formStringMargin {
  margin-bottom: 30px;
}
.formLabel {
  margin-top: 20px;
  float: left;
}
.formInput {
  display: block;
  *zoom: 1;
}
.formInput:before,
.formInput:after {
  content: '';
  display: table;
}
.formInput:after {
  clear: both;
}
.formMessage,
.formMessageRed,
.formMessageRedLeft {
  display: inline-block;
  margin-top: 20px;
  float: right;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 1.4rem;
  line-height: 2.4rem;
  font-weight: normal;
  font-style: normal;
  color: rgba(123,123,123,0.6);
}
.formMessage a,
.formMessageRed a,
.formMessageRedLeft a {
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 1.4rem;
  line-height: 2.4rem;
  font-weight: normal;
  font-style: normal;
  color: #518ecb;
  text-decoration: none;
}
.formMessage a:hover,
.formMessageRed a:hover,
.formMessageRedLeft a:hover {
  text-decoration: underline;
}
.formMessageRed,
.formMessageRedLeft {
  color: #d61c1c;
}
.formMessageRedLeft {
  color: #d61c1c;
  display: block;
  float: left;
}
.formCheck {
  display: block;
  margin-bottom: 20px;
  *zoom: 1;
}
.formCheck:before,
.formCheck:after {
  content: '';
  display: table;
}
.formCheck:after {
  clear: both;
}
.formButton {
  display: block;
  margin-bottom: 10px;
  *zoom: 1;
}
.formButton:before,
.formButton:after {
  content: '';
  display: table;
}
.formButton:after {
  clear: both;
}
.formButton button {
  width: 100%;
}
.formLink {
  display: block;
  margin-bottom: 5px;
  text-align: center;
  *zoom: 1;
}
.formLink:before,
.formLink:after {
  content: '';
  display: table;
}
.formLink:after {
  clear: both;
}
.formLink a {
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 1.6rem;
  line-height: 2.2rem;
  font-weight: normal;
  font-style: normal;
  color: #518ecb;
  text-decoration: none;
}
.formLink a:hover {
  text-decoration: underline;
}
.formText {
  display: block;
  margin-bottom: 10px;
  text-align: center;
  font-family: "OpenSans-Light", sans-serif;
  font-size: 1.6rem;
  line-height: 2.8rem;
  font-weight: normal;
  font-style: normal;
  color: rgba(45,50,44,0.4);
}
.formText a {
  color: rgba(45,50,44,0.4);
  text-decoration: underline;
}
.formText a:hover {
  color: #2d322c;
}
.formSpecialHeader {
  font-family: "OpenSans-Semibold", sans-serif;
  font-size: 1.8rem;
  line-height: 2.4rem;
  font-weight: normal;
  font-style: normal;
  color: #578618;
  margin-bottom: 10px;
}
.formSpecialPresent {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 7px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../icons/icon-present.svg");
}
.formSpecialText {
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 1.4rem;
  line-height: 2.7rem;
  font-weight: normal;
  font-style: normal;
  color: rgba(45,50,63,0.7);
  margin-bottom: 30px;
}
.formSpecialText b {
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 1.4rem;
  line-height: 2.7rem;
  font-weight: normal;
  font-style: normal;
}
.formSpecialTimer {
  color: rgba(123,123,123,0.5);
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 1.2rem;
  line-height: 1.4rem;
  font-weight: normal;
  font-style: normal;
}
.formSpecialTimer span {
  display: inline-block;
  width: auto;
  background-color: #535f84;
  padding: 5px 10px;
  color: #fff;
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 1.4rem;
  line-height: 1.6rem;
  font-weight: normal;
  font-style: normal;
  margin-bottom: 5px;
}
