.banner
    display block
    background-color #F5F5F5
    padding 60px 0px
.bannerContainer
    center(1060px)

.bannerMacbook
    span(1/2)

.bannerMessage
    span(1/2)

.bannerMacbookImage
    display block
    width 469px
    height 274px
    float right
    margin-right 30px
    bg()
    background-image url('../img/macbook.png')
    @media retina
        background-image url('../img/macbook@2x.png')
        background-size 469px 274px
.bannerHeader
    ff(light_f,4.5,5.5)
    color #343434
    margin-bottom 20px

.bannerText
    ff(light_f,2.0)
    color #888888
    margin-bottom 13px

.bannerPlatform
    display block
    width 100%
    white-space nowrap
    ff(light_f,2.0)
    color #888888
    margin-bottom 22px

.bannerPlatformItem
    display inline-block
    padding-right 10px
    bg(right)
    background-image url('../icons/oval.svg')
    &:last-child
        padding-right 0px
        background none