doctype
html(lang="ru")
  head
    title Aori
    meta(charset='utf-8')
    meta(content="telephone=no")
    //- meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0")
    meta(name="viewport", content="width=1130px")
    link(href='./css/blocks.css', type="text/css", rel="stylesheet")
    link(href='./css/blocks.uri.css', type="text/css", rel="stylesheet")
    include _favicon.jade
    <!--[if IE 8]><link rel="stylesheet" href="./css/blocks.ie.css"><![endif]-->
    <!--[if lt IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6/html5shiv.min.js"></script><![endif]-->

  body
    .redHelper.redhlp_button
        .redHelperText
            | Служба заботы о клиентах
    block content


    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js")
    script(src="./js/vendor.js")
    script(src="./js/index.js")
    //- script.
    //-     (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    //-     (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    //-     m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    //-     })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    //-     ga('create', 'UA-53856697-1', 'auto');
    //-     ga('send', 'pageview');
