extends _layout

block content
    .form
        .formContainer
            .formLogo
                a(href="#")
                .formLogoText
                    | Слова имеют значение
            include block/formregister
            include block/login
            include block/recover
            include block/change
