extends _layout

block content
    include block/header
    include block/banner
    include block/howtouse
    include block/slider
    include block/choise
    include block/platform
    include block/price
    include block/footer