.sliderWrap
    display block
    background-color #86A957
    overflow hidden
    min-width 1050px
    padding-bottom 10px
    sf()

.slider
    display block
    width 100%
    position relative
    sf()

.sliderItem
    display block
    width 1000px
    margin 0 auto
    padding 50px 0
    sf()

.sliderItemPhoto
    display block
    float left
    width 130px
    height 130px
    margin-right 20px
    sf()
.sliderItemText
    display block
    float left
    sf()
.sliderItemText
    display block
    ff(light_f,2.8,4.4)
    color white


.sliderItemTextName
    ff(light_f,1.6)
    margin-top 5px
    color #D3FF97
    b
        ff(bold,1.6)

