.choise
    display block
    padding 60px 0px
    sf()

.choiseContainer
    center(1000px)

.choiseHeader
    display block
    ff(light_f,3.2,4)
    color #343434
    margin-bottom 60px
    sf()

.choiseItems
    display block
    sf()

.choiseItem
    column(1/2,cycle:2)
    margin-bottom 56px

.choiseItemIcon
    display table-cell
    vertical-align top
    padding-right 15px
.choiseItemText
    display table-cell
    padding-right 26px
    h1
        ff(normal,1.8,2.2)
        color #2D322C
        margin-bottom 3px
    p
        color #888888
        ff(light_f,1.6,2.8)
        white-space nowrap

.choiseButton
    display block
    text-align center
    button
        margin-right 5px