.howToUse
    display block
    padding 60px 0px
    sf()

.howToUseContainer
    center(1000px)

.howToUseHeader
    display block
    ff(light_f,3.2,4)
    color #343434
    margin-bottom 20px
    sf()
.howToUsePatch
    display block
    margin-bottom 15px
    sf()

.howToUsePatchItem
    span(1/4)
    position relative
    vertical-align middle
    text-align center
    img
        margin-bottom 10px

.howToUsePatchItemArrow
    &:after
        display block
        position absolute
        content ""
        top 55px
        right -25px
        icons('step-arrow.svg')
        size(48,10)
.howToUsePatchText
    display block
    sf()

.howToUsePatchTextItem
    display block
    text-align center

.howToUsePatchTextItemHeader
    color #2D322C
    ff(normal,1.8,2.2)
    text-align center
    margin-bottom 5px
 .howToUsePatchTextItemText
    color #888888
    ff(light_f,1.6,2.8)
    text-align center
