.banner
    .bannerContainer
        .bannerMacbook
            .bannerMacbookImage
        .bannerMessage
            .bannerHeader
                | Управляйте рекламой </br> в едином интерфейсе
            .bannerText
                | Все площадки в одном центре управления.
            .bannerPlatform
                .bannerPlatformItem
                    | Яндекс
                .bannerPlatformItem
                    | Google
                .bannerPlatformItem
                    | Facebook
                .bannerPlatformItem
                    | ВКонтакте
                .bannerPlatformItem
                    | Одноклассники
            .bannerButton
                button.buttonOrange Создать эффективную рекламную кампанию

