.formRegister
    .blockForm
        .blockFormSquare
        .blockFormWrap
            .formHeader
                | Изменение пароля
            .formHeaderText
                | Введите новый пароль для аккаунта anton.ivanov@gmail.com
            .formString
                .formLabel
                    label.label Пароль
                .formMessage не короче 6 символов
                .formInput
                    input.input
            .formString
                .formCheck
                    label.labelCheckbox
                        input(type="checkbox")
                        | Показать пароль
            .formString
                .formButton
                    button.buttonOrange
                        | Изменить пароль
            .formString
                .formLink
                    a(href="#") Войти

.formRegister
    .blockForm
        .blockFormSquare
        .blockFormWrap
            .formHeader
                | Пароль изменен
            .formHeaderText.formHeaderTextMargin
                | Сейчас вы будете перенаправлены в Aori...
            .formHeaderText.formHeaderTextMargin
                | Если этого не произошло, &nbsp
                a(href="#") войдите в систему самостоятельно.
