.choise
    .choiseContainer
        .choiseHeader
            | Aori — правильный выбор

        .choiseItems
            .choiseItem
                .choiseItemIcon
                    img(src="icons/choise-phone.svg")
                .choiseItemText
                    h1 Служба заботы о клиентах
                    p Ответит на любые ваши вопросы с утра</br> и до поздней ночи, даже в выходные.
            .choiseItem
                .choiseItemIcon
                    img(src="icons/choise-import.svg")
                .choiseItemText
                    h1 Импорт кампаний с площадок
                    p Загрузите файл с кампанией из Яндекса или</br> Google и подключите ещё одну площадку.
            .choiseItem
                .choiseItemIcon
                    img(src="icons/choise-template.svg")
                .choiseItemText
                    h1 Шаблоны рекламных кампаний
                    p Более 80 кампаний с готовыми словами и</br>      объявлениями. Задайте настройки и запускайтесь.
            .choiseItem
                .choiseItemIcon
                    img(src="icons/choise-tools.svg")
                .choiseItemText
                    h1 Полезные инструменты
                    p Подборщик ключевых слов, автоматические</br> стратегии, конструктор рекламных объявлений.
            .choiseItem
                .choiseItemIcon
                    img(src="icons/choise-extra.svg")
                .choiseItemText
                    h1 Дополнительные услуги от 1000 руб.
                    p Наши специалисты сделают сайт-визитку, возьмут</br>на себя настройку и проведение вашей кампании.
            .choiseItem
                .choiseItemIcon
                    img(src="icons/choise-money.svg")
                .choiseItemText
                    h1 Возврат денег
                    p Вернем вам неизрасходованные средства,</br> если система не понравилась.
        .choiseButton
            button.buttonGreen Узнать больше
            a(href="http://www.youtube.com/watch?v=0cBqyxTtLnE").buttonGreenOutlineVideo.lightbox
                i.icon-video
                | Посмотреть видео о системе
