.footer
    .footerContainer
        .footerNews
            .footerNewsLogo
                a(href="#")
                | Слова имеют значение
            .footerNewsBlock
                .footerNewsBlockDate
                    | 7 октября 2014 г.
                .footerNewsBlockText
                    a(href="#")
                        | Акция! Aori удвоит ваш рекламный бюджет.
                .footerNewsBlockAllNews
                    a(href="#")
                        | Все новости
        .footerMenu
            .footerMenuWrap
                .footerMenuItem
                    h2 Компания
                    a(href="#") О Нас
                    a(href="#") Вакансии
                    a(href="#") Контакты
                    a(href="#") Партнерам
                .footerMenuItem
                    h2 Помощь
                    a(href="#") О Системе
                    a(href="#") О контекстной рекламе
                    a(href="#") Учебный центр
                    a(href="#") Обратная связь
                .footerMenuItem
                    h2 Еще
                    a(href="#") Новости
                    a(href="#") Спецпредложения
                    a(href="#") Кейсы
            .footerMenuItemBig
                .footerMenuItemPhone
                    .footerMenuItemPhoneNumber
                        | 8 800 333 58 78
                    .footerMenuItemPhoneTime
                        p С 9:00 до 1:00 в рабочие дни,
                        p с 11:00 до 23:00 в выходные.
                    .footerMenuItemEmail
                        a(href="mailto:help@aori.ru") help@aori.ru
                    .footerMenuItemSocial
                        .footerMenuItemSocialFacebook
                            a(href="#")
                        .footerMenuItemSocialTwitter
                            a(href="#")
                        .footerMenuItemSocialVK
                            a(href="#")