.formRegister

    .blockForm
        .blockFormSquare
        .blockFormWrap
            .formHeader
                | Регистрация
            .formHeaderText
                | Зарегистрируйтесь и создавайте эффективные рекламные кампании.

            .formString
                .formLabel
                    label.label E-mail
                .formMessage
                .formInput
                    input.input
            .formString
                .formLabel
                    label.label Пароль
                .formMessage не короче 6 символов
                .formInput
                    input(type="password").input#password
            .formString
                .formCheck
                    label.labelCheckbox
                        input(type="checkbox")#show-password
                        | Показать пароль
            .formString
                .formButton
                    button.buttonOrange
                        i.icon-registration
                        | Зарегистрироваться
            .formString
                .formLink
                    a(href="#") У меня уже есть аккаунт
            .formString
                .formText
                    | Региструруясь, вы принимаете условия
                    a(href="#")  договора-оферты

.formRegister
    .blockForm
        .blockFormSquare
        .blockFormWrap
            .formHeader
                | Регистрация
            .formHeaderText
                | Зарегистрируйтесь и создавайте эффективные рекламные кампании.

            .formString
                .formLabel
                    label.label E-mail
                .formMessage
                .formInput
                    input.input
            .formString
                .formLabel
                    label.label Пароль
                .formMessageRed укажите пароль
                .formInput
                    input.input.inputError
            .formString
                .formCheck
                    label.labelCheckbox
                        input(type="checkbox")
                        | Показать пароль
            .formString
                .formButton
                    button.buttonOrange
                        i.icon-registration
                        | Зарегистрироваться
            .formString
                .formLink
                    a(href="#") У меня уже есть аккаунт
            .formString
                .formText
                    | Региструруясь, вы принимаете условия
                    a(href="#")  договора-оферты
.formRegister
    .blockForm
        .blockFormSquare
        .blockFormWrap
            .formHeader
                | Регистрация
            .formHeaderText
                | Зарегистрируйтесь и создавайте эффективные рекламные кампании.

            .formString
                .formLabel
                    label.label E-mail
                .formMessageRed e-mail уже зарегистрирован,&nbsp
                    a(href="#") это вы?
                .formInput
                    input.input.inputError
            .formString
                .formLabel
                    label.label Пароль
                .formMessageRed не короче 6 символов
                .formInput
                    input.input.inputError
            .formString
                .formCheck
                    label.labelCheckbox
                        input(type="checkbox")
                        | Показать пароль
            .formString
                .formButton
                    button.buttonOrange
                        i.icon-registration
                        | Зарегистрироваться
            .formString
                .formLink
                    a(href="#") У меня уже есть аккаунт
            .formString
                .formText
                    | Региструруясь, вы принимаете условия
                    a(href="#")  договора-оферты
.formRegister

    .blockForm
        .blockFormSquare
        .blockFormWrap
            .formHeader
                | Регистрация
            .formHeaderText
                | Зарегистрируйтесь и создавайте эффективные рекламные кампании.

            .formString
                .formLabel
                    label.label E-mail
                .formMessage
                .formInput
                    input.input
            .formString
                .formLabel
                    label.label Пароль
                .formMessage не короче 6 символов
                .formInput
                    input.input
            .formString
                .formCheck
                    label.labelCheckbox
                        input(type="checkbox")
                        | Показать пароль
            .formString
                .formButton
                    button.buttonOrange
                        i.icon-registration
                        | Зарегистрироваться
            .formString
                .formLink
                    a(href="#") У меня уже есть аккаунт
            .formString
                .formText
                    | Региструруясь, вы принимаете условия
                    a(href="#")  договора-оферты
        .blockFormSpecial
            .formSpecialHeader
                .formSpecialPresent
                | Подарок от Aori!
            .formSpecialText
                | Отправьте кодовое слово &nbsp
                b «Анфиса» &nbsp
                | в службу поддержки по адресу help@aori.ru и получите бесплатную консультацию по настройке первой рекламной кампании.
            .formSpecialTimer
                span 3 часа 15 минут
                | </br> до завершения акции
