.header
    .headerContainer
        .headerLeft
            .headerLogo
                a(href="#")
            .headerMenu
                .headerMenuItem
                    a(href="#") О системе
                .headerMenuItem
                    a(href="#") Стоимоить
                .headerMenuItem
                    a(href="#") Партнерам
        .headerRight
            .headerLogin
                button.buttonGreenOutlineSmall Войти
            .headerPhone
                | 8 800 333 58 78
