.howToUse
    .howToUseContainer
        .howToUseHeader
            | Как это работает?
        .howToUsePatch
            .howToUsePatchItem.howToUsePatchItemArrow
                img(src="icons/step-1.svg", alt="")
                .howToUsePatchTextItem
                    .howToUsePatchTextItemHeader
                        | Зарегистрируйтесь
                    .howToUsePatchTextItemText
                        | Быстрая регистрация и знакомство с системой
            .howToUsePatchItem.howToUsePatchItemArrow
                img(src="icons/step-2.svg", alt="")
                .howToUsePatchTextItem
                    .howToUsePatchTextItemHeader
                        | Создайте кампанию
                    .howToUsePatchTextItemText
                        | Задайте настройки, добавьте слова и объявления
            .howToUsePatchItem.howToUsePatchItemArrow
                img(src="icons/step-3.svg", alt="")
                .howToUsePatchTextItem
                    .howToUsePatchTextItemHeader
                        | Пополните счет
                    .howToUsePatchTextItemText
                        | Банковским переводом </br> или через системы оплаты
            .howToUsePatchItem
                img(src="icons/step-4.svg", alt="")
                .howToUsePatchTextItem
                    .howToUsePatchTextItemHeader
                        | Встречайте новых клиентов
                    .howToUsePatchTextItemText
                        | Запускайте кампанию, новые клиенты не заставят себя ждать
