.formRegister

    .blockForm
        .blockFormSquare
        .blockFormWrap
            .formHeader
                | Вход
            .formString
                .formLabel
                    label.label E-mail
                .formMessage
                .formInput
                    input.input
            .formString
                .formLabel
                    label.label Пароль
                .formInput
                    input.input
            .formString
                .formCheck
                    label.labelCheckbox
                        input(type="checkbox")
                        | Запомнить меня
            .formString
                .formButton
                    button.buttonOrange
                        i.icon-login
                        | Войти
            .formString
                .formLink
                    a(href="#") Я забыл пароль
            .formString
                .formLink
                    a(href="#") Зарегистрироваться

.formRegister

    .blockForm
        .blockFormSquare
        .blockFormWrap
            .formHeader
                | Вход
            .formString
                .formLabel
                    label.label E-mail
                .formMessageRed Укажите E-mail
                .formInput
                    input.input.inputError
            .formString
                .formLabel
                    label.label Пароль
                .formMessageRed Укажите пароль
                .formInput
                    input.input.inputError
            .formString
                .formCheck
                    label.labelCheckbox
                        input(type="checkbox")
                        | Запомнить меня
            .formString
                .formButton
                    button.buttonOrange
                        i.icon-login
                        | Войти
            .formString
                .formLink
                    a(href="#") Я забыл пароль
            .formString
                .formLink
                    a(href="#") Зарегистрироваться

.formRegister

    .blockForm
        .blockFormSquare
        .blockFormWrap
            .formHeader
                | Вход
            .formHeaderMessage Указан неверный e-mail или пароль
            .formString
                .formLabel
                    label.label E-mail
                .formInput
                    input.input
            .formString
                .formLabel
                    label.label Пароль
                .formInput
                    input.input
            .formString
                .formCheck
                    label.labelCheckbox
                        input(type="checkbox")
                        | Запомнить меня
            .formString
                .formButton
                    button.buttonOrange
                        i.icon-login
                        | Войти
            .formString
                .formLink
                    a(href="#") Я забыл пароль
            .formString
                .formLink
                    a(href="#") Зарегистрироваться
