.platform
    .platformContainer
        .platformHeader
            .platformHeaderLine
            .platformHeaderText
                .platformHeaderTextWrap
                    | Ведите кампании на всех площадках сразу
        .platformImage
            img(src="img/platform.png", alt="")