.price
    .priceContainer
        .priceHeader
            | Сколько это стоит?
        .priceBlockContainer
            .priceBlock
                .priceBlockHeader Бюджет компании
                .priceString
                    .priceStringText
                        | Минимальный бюджет
                    .priceStringAmout
                        | 3000 руб.
                .priceString
                    .priceStringText
                        | Последующие платежи
                    .priceStringAmout
                        | от 500 руб.
                .priceBlockHeader Комиссия
                .priceString
                    .priceStringText
                        | Google и Facebook
                    .priceStringAmout
                        | 10%
                .priceString
                    .priceStringText
                        | Яндекс, Вконтакте, Mail.ru,</br> Rambler и Одноклассники
                    .priceStringAmout
                        | Бесплатно
                .priceComment
                    | Комиссия взимается только за клики по объявлениям.
            .priceBlockRegistr
                .priceBlockRegistrHeader
                    | После регистрации вы бесплатно получите:
                ul
                    li
                        | Консультацию по настройке первой кампании
                    li
                        | Помощь службы поддержки с утра и до поздней ночи
                    li
                        | Консультацию по созданию сайта-визитки для ваших товаров и услуг
                    li
                        | Библиотеку объявлений и изображений
        .priceBlockButton
            button.buttonOrange Создать эффективную рекламную кампанию
            buttom.buttonGreenOutline Узнать больше