.formRegister
    .blockForm
        .blockFormSquare
        .blockFormWrap
            .formHeader
                | Востановление пароля
            .formHeaderText
                | Укажите e-mail, который вы использовали при регистрации. Мы пришлем вам</br> ссылку на страницу с изменением пароля.
            .formString.formStringMargin
                .formLabel
                    label.label E-mail
                .formMessage
                .formInput
                    input.input
            .formString
                .formButton
                    button.buttonOrange
                        | Отправить
            .formString
                .formLink
                    a(href="#") Войти

.formRegister
    .blockForm
        .blockFormSquare
        .blockFormWrap
            .formHeader
                | Письмо отправлено
            .formHeaderText.formHeaderTextMargin
                | Мы отправили ссылку на страницу с восстановлением пароля на ваш</br>адрес электронной почты:
                b  anton.ivanov@gmail.com
            .formHeaderText.formHeaderTextMargin
                | Если письмо не приходит в течение</br> 5 минут, проверьте папку «спам» или &nbsp </br>
                a(href="#") попробуйте ещё раз.
            .formHeaderText.formHeaderTextMargin
                | Если вы вспомнили пароль, &nbsp </br>
                a(href="#") заходите в Aori.
