.sliderWrap
    .slider
        .sliderItemWrap
            .sliderItem
                .sliderItemPhoto
                    img(src="img/photo1.jpg", alt="")
                .sliderItemText
                    | Главный плюс для меня – полный контроль за рекламными </br>кампаниями и прозрачность.
                    .sliderItemTextName
                        b Андрей Белоусов
                        | , media manager, 4Experience, г.Москва
        .sliderItemWrap
            .sliderItem
                .sliderItemPhoto
                    img(src="img/photo1.jpg", alt="")
                .sliderItemText
                    | Главный минус для меня – полный контроль за рекламными </br>кампаниями и прозрачность.
                    .sliderItemTextName
                        b Андрей Белоусов
                        | , media manager, 4Experience, г.Москва
        .sliderItemWrap
            .sliderItem
                .sliderItemPhoto
                    img(src="img/photo1.jpg", alt="")
                .sliderItemText
                    | Главный минус для меня – полный контроль за рекламными </br>кампаниями и прозрачность.
                    .sliderItemTextName
                        b Андрей Белоусов
                        | , media manager, 4Experience, г.Москва