.header
    display block
    background-color #fff
    padding 30px 0px
    sf()

.headerContainer
    center(1000px)
.headerLeft
    span(1/2)
.headerRight
    span(1/2)
    text-align right

.headerLogo
    display inline-block
    vertical-align middle
    margin-right 40px
    a
        display block
        width 115px
        height 36px
        bg()
        background-image url('../img/logo.png')
        @media retina
            background-image url('../img/logo@2x.png')
            background-size 115px 36px
.headerMenu
    display inline-block
    vertical-align middle
.headerMenuItem
    display inline-block
    vertical-align middle
    margin-right 40px
    ff(normal,1.6,1.8)
    a
        color #49504B
        text-decoration none
        &:hover
            color #86A957
    &:last-child
        margin-right 0px

.headerLogin
    display inline-block
    margin-right 20px
.headerPhone
    display inline-block
    ff(normal,1.6,1.8)
    color #49504B
    padding-left 18px
    bg(left)
    background-image url('../icons/phone.svg')