.icheckbox
    display inline-block
    vertical-align middle
    cursor pointer
    position relative
    width 16px
    height 16px
    border 1px solid #E5E5E5
    border-bottom-color #BABABF
    border-radius 0px
    background-color #fff
    margin-right 10px
    top -2px
    // margin-top -5px
    sf()
    /* Rectangle 82: */
    background-image: linear-gradient(-179deg, #FFFFFF 6%, #F5F5F5 46%);
/* Sketch doesnt export gradient borders at this point */
.icheckbox
    &.hover
        border-color #9797A2
        background-image: linear-gradient(-179deg, #FFFFFF 6%, #F5F5F5 46%);
    &.checked
        position relative
        &:before
            display block
            position absolute
            height 8px
            width 10px
            content ""
            top 3px
            left 3px
            bg()
            background-image url('../icons/icheck-checked.svg')
    &.disabled
        background none
        cursor default
    &.focus
        border-color darken(#d5d4cd, 20%)

.iradio
    display inline-block
    vertical-align middle
    width 24px
    height 24px
    border-radius 12px
    border 2px solid #bfbfbf
    cursor pointer
    float left
    margin-right 10px
    background-color #FFF
    sf()
.iradio
    &.hover
        border 1px solid quartz
    &.checked
        position relative
        background-color #00AEFF
        border-color #0094d9
        &:before
            display block
            position absolute
            height 10px
            width 10px
            content ""
            top 5px
            left 5px
            border-radius 5px
            background-color #000
        &.disabled
            background-position -216px 0
    &.disabled
        background-position -192px 0
        cursor default

