// Default Variables
$slick-font-path = "./fonts/"
$slick-font-family = "slick"
$slick-loader-path = "./"
$slick-arrow-color = white
$slick-dot-color = black
$slick-dot-color-active = $slick-dot-color
$slick-prev-character = "\2190"
$slick-next-character = "\2192"
$slick-dot-character = "\2022"
$slick-dot-size = 6px
$slick-opacity-default = 0.75
$slick-opacity-on-hover = 1
$slick-opacity-not-active = 0.25

slick-image-url($url)
    if function-exists(image-url)
        image-url($url, false, false)
    else
        url($slick-loader-path + $url)

slick-font-url($url)
    if function-exists(font-url)
        font-url($url)
    else
        url($slick-font-path + $url)

/* Slider */
.slick-slider
    position: relative
    display: block
    width 100%
    user-select: none
    touch-action: pan-y
    -webkit-tap-highlight-color: transparent

.slick-list
    position: relative
    overflow: hidden
    display: block
    margin: 0
    padding: 0
    &:focus
        outline: none
    .slick-loading &
        background: white slick-image-url("ajax-loader.gif") center center no-repeat
    &.dragging
        cursor: pointer
        cursor: hand


.slick-slide
    float: left
    height: 100%
    min-height: 1px
    [dir="rtl"] &
        float: right
    img
        display: block
    &.slick-loading img
        display: none
    display: none
    &.dragging img
        pointer-events: none
    .slick-initialized &
        display: block
    .slick-loading &
        visibility: hidden
    .slick-vertical &
        display: block
        height: auto
        border: 1px solid transparent


.slick-prev,
.slick-next
    position: absolute
    display: block
    height: 240px
    width: 65px
    line-height: 0
    font-size: 0
    cursor: pointer
    background: transparent
    color: transparent
    top: 0px
    padding: 0
    border: none
    outline: none
    z-index 1000


.slick-prev
    left 0
    bg()
    background-image url('../icons/arrow-prev.svg')
    &:hover
        background-image url('../icons/arrow-prev-hover.svg')
.slick-next
    right 0
    bg()
    background-image url('../icons/arrow-next.svg')
    &:hover
        background-image url('../icons/arrow-next-hover.svg')



.slick-dots
    position: absolute
    bottom: 0px
    list-style: none
    display: block
    text-align: center
    padding: 0
    width: 100%
    li
        position: relative
        display: inline-block
        height: 10px
        width: 10px
        margin: 0 5px
        padding: 0
        cursor: pointer
        button
            icons('dot.svg')
            background-color transparent
            display block
            height 10px
            width 10px
            outline none
            border 0px
            font-size 0


        &.slick-active
            button
                icons('dot-active.svg')
                background-color transparent