.price
    display block
    padding 60px 0px
    sf()

.priceContainer
    center(1000px)

.priceHeader
    display block
    ff(light_f,3.2,4)
    color #343434
    margin-bottom 60px
    sf()
.priceBlockContainer
    display block
    position relative
    sf()
.priceBlock
    display block
    position relative
    margin-left 170px
    float left
    width 424px
    height 392px
    padding 10px 20px 50px 30px
    bg()
    background-image url(../icons/block.svg)
    z-index 100
.priceBlockHeader
    ff(medium,1.8,2.8)
    color #2D322C
    margin-top 30px
    margin-bottom 15px
.priceBlockRegistr
    display block
    position relative
    float left
    z-index 10
    margin-top 51px
    margin-left -14px
    width 252px
    height 313px
    background #F5F5F5
    border 2px solid #E7E7E7
    padding 30px 30px 40px
    ul
        list-style-type disc
        ff(normal,1.2,1.6)
        color alpha(#2D322C,0.4)
        padding-left 22px
        li
            padding-bottom 15px
.priceBlockRegistrHeader
    ff(bold,1.2)
    color #7AAE35
    bg(left top)
    padding-left 22px
    background-image url('../icons/check.svg')

.priceString
    display block
    width 100%
    padding 0 20px
    margin-bottom 15px
    sf()
.priceStringText
    display block
    float left
    ff(light_f,1.6,2.8)
    color #2D322C
.priceStringAmout
    display block
    float right
    ff(medium,1.8,2.8)
    color #DE8219

.priceComment
    padding-top 15px
    ff(normal,1.2,1.6)
    color #2D322C
    opacity .3
    padding-left 12px

.priceBlockButton
    display block
    margin-top 30px
    position relative
    text-align center
    button
        margin-right 5px
    &:before
        display block
        content ""
        position absolute
        top -100px
        left 30px
        bg()
        width 186px
        height 129px
        background-image url('../icons/help-arrow.svg')