.input
    display block
    width 100%
    ff(light_f,1.6,2.4)
    color alpha(#2D322C,1)
    padding 10px 12px
    height 47px
    border 1px solid #BFC3C8
    outline 0
    -webkit-appearance none
    border-radius 0
    &:focus
        border 1px solid #50A7FF

