.footer
    display block
    background-color #F5F5F5
    padding 60px 0px 30px
    width 100%
    sf()

.footerContainer
    center(1000px)
.footerNews
    display block
    margin-bottom 30px
    sf()
.footerNewsLogo
    display block
    float left
    margin-top 17px
    width 155px
    ff(normal,1.2,1.6)
    color alpha(#2D322C,0.3)
    padding-right 15px
    a
        display block
        // margin-left -3px
        width 133px
        height 40px
        margin-right 30px
        margin-bottom 5px
        bg()
        background-size 132px 39px
        background-image url('../img/logo.png')
        @media retina
            background-image url('../img/logo@2x.png')
            background-size 132px 39px

.footerNewsBlock
    display block
    position relative
    float left
    width 845px
    height 85px
    padding 20px 20px 15px 45px
    bg(left)
    background-image url('../icons/news-block.svg')
    //background-size cover
.footerNewsBlockDate
    display block
    ff(normal,1.2,1.6)
    color #888888
    margin-bottom 5px
.footerNewsBlockText
    ff(light_f,1.8,3)
    a
        color alpha(#2D322C,0.8)
        text-decoration none
        &:hover
            text-decoration underline

.footerNewsBlockAllNews
    display block
    position absolute
    top 18px
    right 20px
    bg(right)
    padding-right 23px
    background-image url('../icons/news.svg')
    a
        ff(normal,1.2,1.8)
        color #7AAE35
        text-decoration none
        &:hover
            text-decoration underline



.footerMenu
    display block
    margin-bottom 30px
    sf()

.footerMenuItem
    column(1/4)
    h2
        ff(normal,1.8,3)
        color alpha(#2D322C,0.8)
        margin-bottom 5px
    a
        display block
        ff(light_f,1.6,3.4)
        color alpha(#2D322C,0.5)
        text-decoration none
        &:hover
            text-decoration underline
            color alpha(#2D322C,1)
.footerMenuItemPhone
    display block
    sf()
.footerMenuItemPhoneNumber
    ff(normal,1.8,3)
    color alpha(#2D322C,0.8)
    bg(left)
    padding-left 25px
    background-image url('../icons/footer-phone.svg')
    margin-bottom 5px
.footerMenuItemPhoneTime
    display block
    ff(light_f,1.6,3.4)
    color alpha(#2D322C,0.5)
    padding-left 23px
    margin-bottom 15px
.footerMenuItemEmail
    bg(left)
    padding-left 25px
    background-image url('../icons/footer-mail.svg')
    margin-bottom 15px
    a
        ff(normal,1.8)
        color alpha(#2D322C,0.8)
        text-decoration none
.footerMenuItemSocial
    display block
    sf()
.footerMenuItemSocialIcon
    display inline-block
    width 21px
    height 21px
    cursor pointer
    margin-right 5px
    bg()
    a
        width 21px
        height 21px
.footerMenuItemSocialFacebook
    @extend .footerMenuItemSocialIcon
    background-image url('../icons/footer-facebook.svg')
    &:hover
        background-image url('../icons/footer-facebook-hover.svg')

.footerMenuItemSocialTwitter
    @extend .footerMenuItemSocialIcon
    background-image url('../icons/footer-twitter.svg')
    &:hover
        background-image url('../icons/footer-twitter-hover.svg')


.footerMenuItemSocialVK
    @extend .footerMenuItemSocialIcon
    background-image url('../icons/footer-vk.svg')
    &:hover
        background-image url('../icons/footer-vk-hover.svg')

.footerMenuItemBig
    // column(2/5)
    float right